{{>partials/header}}
<body>
<section>
    

  <h2>Qual o seu email?</h2>
    <form method="POST" action="cadastro-senha">
    <input type="email" name="email" placeholder="digite seu o seu email: ">


    <h2>Qual a sua senha?</h2>

    <input type="senha" name="senha" placeholder="digite  a sua senha: ">
    <input type="submit" value="Enviar">



</section>

</body>
{{>partials/footer}}